@{
    ViewData["Title"] = "Privacy Policy";
}


<style>
    .spoiler-content {
        display: none;
    }
    .spoiler:hover .spoiler-content {
        display: block;
    }
</style>


<div class="text-center">
    <img class="image-responsive"
    src="https://www.zeldadungeon.net/wiki/images/thumb/f/f0/Koroks.png/400px-Koroks.png"
    height="200em">
    <div class="spoiler">
    <h2>What's this</h2>
    <div class="spoiler-content">
        <p>Press Shift + Z in the Home Page</p>
    </div>
</div>
</div>